header.header
    .container-fluid
        .row-align-items-center.d-flex
            .col-3 
                .inner-logo 
                    a(href="/admin/dashbroad") ADMIN 

            .col-9.mt-3.d-flex.justify-content-end
                .account-detail-button(class="d-flex justify-content-end  ")
                    a(href="/admin/account/my_account" class="d-flex justify-content-end position-relative  ")
                        img(src=user.avatar alt="" class="m-1 px-1 p-0" style="border-radius: 50px; width: 20%;")
                        p(class="text-bg-success" id="account-status" style="") 
                .exit-button
                    a(class="btn btn-danger m-1" href="/admin/auth/logout") Đăng xuất
        