.slider
    .inner-menu(style="position: relative;") 
        ul 
            li 
                a(href="/admin/dashbroad") Tổng Quan 
            if(role.permission.includes("product_view"))
                li(style= " border-bottom: 2px solid #8b2121;") 
                    h6(class="text-info mt-3" ) SẢN PHẨM
            
                li 
                    a(href="/admin/product") Sản Phẩm
                
            if(role.permission.includes("products-category_view"))
                li 
                    a(href="/admin/product-category") Danh mục sản phẩm 
            
            if(role.permission.includes("account_view"))
                li(style= " border-bottom: 2px solid #8b2121;") 
                    h6(class="text-info mt-3" ) TÀI KHOẢN 
                li 
                    a(href="/admin/account") Tài khoản 



            if(role.permission.includes("roles_view"))
                li(style= " border-bottom: 2px solid #8b2121;")     
                    h6(class="text-info mt-3" ) CÀI ĐẶT CHUNG
                
                li 
                    a(href="/admin/roles") Nhóm quyền
                
                li 
                    a(href="/admin/roles/permission") Phân quyền
                
                //(role.permission.includes("news_view"))

                li(style= " border-bottom: 2px solid #8b2121;")     
                    h6(class="text-info mt-3" ) Bài viết
                
                li 
                    a(href="/admin/news") Danh sách bài viết
            
            if(role.permission.includes("bin_view"))
                li( style="position: absolute; ")
                    a(href="/admin/trashbin" ) Thùng Rác
