.slider
    .inner-menu(style="position: relative;") 
        ul 
            li 
                a(href="/admin/dashbroad") Tổng Quan 

            li(style= " border-bottom: 2px solid #8b2121;") 
                h6(class="text-info mt-5" ) SẢN PHẨM
            
            li 
                a(href="/admin/product") Sản Phẩm
            
            li 
                a(href="/admin/product-category") Danh mục sản phẩm 

            li(style= " border-bottom: 2px solid #8b2121;") 
                h6(class="text-info mt-5" ) CÀI ĐẶT CHUNG
            
            li 
                a(href="/admin/roles") Nhóm quyền
            
            li 
                a(href="/admin/roles/permission") Phân quyền

            li( style="position: absolute; bottom: -45%")
                a(href="/admin/trashbin" ) Thùng Rác
