.slider
    .inner-menu(style="position: relative;") 
        ul 
            li 
                a(href="/admin/dashbroad") Tổng Quan 
            li 
                a(href="/admin/product") Sản Phẩm
            
            li 
                a(href="/admin/product-category") Danh mục sản phẩm 

            li( style="position: absolute; bottom: -330%")
                a(href="/admin/trashbin" ) Thùng Rác
