.slider
    .inner-menu(style="position: relative;") 
        ul 
            li 
                a(href="/admin/dashbroad") Tổng Quan 
            li 
                a(href="/admin/product") Sản Phẩm
            li( style="position: absolute; bottom:-530px")
                a(href="/admin/trashbin" ) Thùng Rác
