extends ../../layout/default.pug
include ../../mixins/product_layout.pug
include ../../mixins/alert.pug

block title 
    title #{titlePage}


block main
    +alert-danger(5000)
    +alert-success(5000)
    .container.my-5
        .row.justify-content-center
            .col-8
              
                h1(class="text-success") Quên Mật Khẩu
                form(action="/user/password/forgot", method="post") 
                    div(class="form-group")
                        label(for="fullname") Email
                        input(type="text"
                        class="form-control"
                        name="email"
                        id="email"
                        )
                    div(class="form-group m-2 d-flex justify-content-center")
                        button(class="btn btn-primary" type="submit") Đăng nhập


